<div class="container">
  <h1 class="mb-5 mt-md-5">Ticket prices</h1>
  <table class="table table-hover">
    <thead class="bg-custom-light text-light ">
    <tr>
      <th scope="col"></th>
      <th scope="col">12.00 - 17.00</th>
      <th scope="col">17.00 - 23.00</th>
      <th scope="col">Weekends</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="bg-light">Children Under 5</th>
      <td>5€</td>
      <td>6€</td>
      <td>5.50€</td>
    </tr>
    <tr>
      <th scope="row" class="bg-light">Students</th>
      <td>5.50€</td>
      <td>7€</td>
      <td>6.50€</td>
    </tr>
    <tr>
      <th scope="row" class="bg-light">Adults</th>
      <td>6€</td>
      <td>9€</td>
      <td>8€</td>
    </tr>
    <tr>
      <th scope="row" class="bg-light">Over 60</th>
      <td>5€</td>
      <td>5€</td>
      <td>4.50€</td>
    </tr>
    </tbody>
  </table>
  <div class="container">
    <h1 class="mb-5 mt-md-5">Contact for buying tickets</h1>
    <div class="row justify">
      <p class="col-2 text-right"><i class="fa fa-phone"></i></p>
      <p class="col-8">+ 421 910 312 408</p>
    </div>
    <div class="row">
      <p class="col-2 text-right"><i class="fa fa-envelope"></i></p>
      <p class="col-8">sales@cinema.com</p>
    </div>
  </div>
</div>
