<div class="container">
  <div *ngIf="saveResult == 1" class="alert alert-success alert-dismissible fade show" role="alert">
    User created successfuly!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="saveResult == 2"class="alert alert-danger alert-dismissible fade show" role="alert">
    User already exists
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 pb-3 text-center">Create Account</h4>

      <form #thisForm="ngForm">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user-circle-o"></i> </span>
          </div>
          <input id="firstname" name="firstname" class="form-control" placeholder="First name" type="text" ngModel
                 #firstname="ngModel">
          <input id="lastname" name="lastname" class="form-control" placeholder="Last name" type="text" ngModel
                 #lastname="ngModel">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-calendar-o"></i> </span>
          </div>
          <div role="separator" class="dropdown-divider"></div>
          <div class="input-group-prepend ">
            <span class="input-group-text "> Date of birth </span>
          </div>

          <input name="dateofbirth" class="form-control" placeholder="Date of Birth" type="date" id="dateofbirth"
                 ngModel
                 #dateofbirth="ngModel">
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-at"></i> </span>
          </div>
          <input name="email_address" id="email_address" class="form-control" placeholder="Email address" type="email"
                 ngModel
                 #email_address="ngModel">
        </div>
        <div>
          <div class="form-group input-group">

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="adminCheck" name="adminCheck" ngModel
                     #adminCheck="ngModel">
              <label class="custom-control-label" for="adminCheck">Set this account as admin</label>
            </div>
          </div>

        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-key"></i> </span>
          </div>
          <input class="form-control" placeholder="Create password" name="password1" id="password1" type="password"
                 ngModel
                 #password1="ngModel">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-key"></i> </span>
          </div>
          <input class="form-control" placeholder="Re-enter password" name="password2" id="password2" type="password"
                 ngModel
                 #password2="ngModel">
          <div class="w-100"></div>
          <p *ngIf="password2.touched && password1.touched && password2.value != password1.value">Passwords do not match!</p>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="(password1.value != password2.value)
          || firstname.value.length==0
           || lastname.value.length==0
           ||email_address.value.length==0
           ||dateofbirth.value.length==0" (click)="onPost()" class="btn btn-primary btn-block"> Create Account
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
