$color_bg: #000059;
$color_sell: #023a7d;
$enable-gradients: true;
.topbar {
  nav {
    background-color: $color_bg;
    z-index: 30;
  }
}

footer {
  background-color: $color_sell;
}

.seller-btn {
  background-color: $color_sell;
}

p {
  position: relative;
}

.login-menu {
  input.ng-touched {
      border-color: green;
      border-style: dashed;
    }

}

@media (max-width: 575.98px) {
  .navbar-collapse {
    background-color: $color_bg;
    position: absolute;
    top: 54px;
    right: 100%;
    padding: 0 15px 15px 15px;
    width: 100%;
    height: 100vh;
    transition: all 0.6s ease;
    display: block;
  }
  .navbar-collapse.collapsing {
    height: 100vh !important;
    margin-right: 50%;
    transition: all 0.6s ease;
    display: block;

  }
  .navbar-collapse.show {
    right: 0;
    height: 100vh;
  }
}

.bg-custom {
  background-color: $color_bg;
}

.bg-custom-light {
  background-color: $color_sell;

}

.bg-custom-light:hover {
  background-color: $color_sell;
  color: white;
}

.not-available {
  margin-top: 10%;
  transform: translate(0, -10%);
  height: 50vh;
  text-align: center;
}


