<div class="container-xl">
  <div id="carouselHome" class="carousel slide col-12 center " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1"></li>
      <li data-target="#carouselHome" data-slide-to="2"></li>
    </ol>
    <div class="row">
      <div class="col-12 carousel-inner">
        <div class=" carousel-item active first rounded-lg border border-dark">
          <!-- <img class="d-block w-25 img-fluid" src="../../assets/images/cinema.jpg" alt="First slide">-->
          <div class="carousel-caption d-none d-md-block">
            <h3>World class watching experience</h3>
            <p>Most comfortable seating.</p>
          </div>
        </div>
        <div class="w-100 carousel-item second rounded-lg border border-dark">
          <!--  <img class="d-block w-25 img-fluid" src="../../assets/images/cinema_hall.jpg" alt="Second slide">-->
          <div class="carousel-caption d-none d-md-block">
            <h3>Over 50 locations</h3>
            <p>Your favourite cinema is now in every city.</p>
          </div>
        </div>
        <div class="w-100 carousel-item third rounded-lg border border-dark">
          <!--  <img class="d-block w-25 img-fluid" src="../../assets/images/popcorn.webp" alt="Third slide">-->
          <div class="carousel-caption d-none d-md-block">
            <h3>Popcorn and more</h3>
            <p>Enjoy your favourite snacks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container  col-lg-8">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-center">What do we offer?</h1>
    </div>

    <div class="bg-light rounded-lg  py-md-4 row">

      <div class="d-none d-sm-block col-sm-4 align-middle">
        <img class="img-fluid" src="../../assets/images/mastercard.png" alt="Membership card icon">
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2 class="text-xs-right text-sm-left">Membership cards</h2>

        <p>
          Donec neque ipsum, dictum id scelerisque interdum, auctor ut urna. Aliquam a porttitor tortor. Vestibulum in
          purus elit. Curabitur lorem augue, dictum a cursus ut, efficitur eu velit. Phasellus volutpat, diam vitae
          imperdiet interdum, erat mauris viverra ante, ac viverra nunc risus vitae nisl. Aenean luctus posuere tellus
          vel
          egestas. Morbi quis vehicula justo. Etiam placerat gravida enim, vel ultricies dui tincidunt sit amet.
          Suspendisse eros nibh, rutrum nec mi sed, semper suscipit risus. Cras sodales venenatis lacus in
          accumsan. </p>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Membership</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Monthly</th>
            <td>22 €</td>
          </tr>
          <tr>
            <th scope="row">Annual</th>
            <td>210 €</td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>


    <div class="bg-white rounded-lg py-md-4 row">

      <div class="col-xs-12 col-sm-8">
        <h2 class="text-right">Film festivals</h2>

        <p>
          Mauris imperdiet orci ut orci varius, vitae pellentesque sem vulputate. Integer facilisis ante venenatis urna
          ultricies, ut pulvinar eros dictum. Aenean vel gravida enim. Suspendisse libero elit, sollicitudin ullamcorper
          sagittis at, condimentum id sapien. Aenean venenatis sapien euismod justo dapibus, quis viverra felis
          ullamcorper. Cras at nisl diam. Sed dignissim elit in imperdiet porta. Etiam dignissim, felis imperdiet
          vestibulum sodales, ipsum ligula vulputate nisl, sed sollicitudin ligula nisl in lectus. Fusce venenatis
          dignissim ligula. Donec fermentum dapibus nunc eget commodo. Praesent commodo placerat accumsan.
        </p>
      </div>
      <div class="d-none d-sm-block col-sm-4 align-middle">
        <img class="img-fluid" src="../../assets/images/festival.png" alt="film festival">
      </div>
    </div>
    <div class="bg-light rounded-lg  py-md-4  row">

      <div class="d-none d-sm-block col-sm-4 align-middle">
        <img class="img-fluid bg-light" src="../../assets/images/ticket.png" alt="Ticket picture">
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2 class=" pt-xs-2">Multiple screenings per day</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper sem dui, nec aliquam orci mattis non. Nunc
          eget mi mattis, vestibulum dolor vel, tincidunt est. Integer molestie augue id metus auctor, sed tristique
          nisi
          volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Vestibulum
          tempus nisl quis felis molestie, ullamcorper scelerisque orci dictum. Nunc suscipit suscipit mollis. Maecenas
          aliquam enim mi, et suscipit libero iaculis eget. Proin vel imperdiet arcu. Curabitur vel tincidunt felis. Nam
          ultricies varius tortor. Morbi at vehicula justo.
        </p>
      </div>
    </div>
  </div>
</div>
