.first {
  background-image: url("../../assets/images/cinema.jpg");
}

@media (min-width: 1000px) {
  .carousel-item {
    max-width: 100vw;
    height: 30vw;
    background-size: cover;

  }
}
@media (max-width: 1000px) {
  .carousel-item {
    width: 100vw;
    height: 80vw;
    background-size: cover;

  }
}


.second {
  background-image: url("../../assets/images/cinema_hall.jpg");
}


.third {
  background-image: url("../../assets/images/popcorn.webp");
}


.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
