<div id="carouselHome" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
    <li data-target="#carouselHome" data-slide-to="1"></li>
    <li data-target="#carouselHome" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="w-100 carousel-item active first">
      <!-- <img class="d-block w-25 img-fluid" src="../../assets/images/cinema.jpg" alt="First slide">-->
      <div class="carousel-caption d-none d-md-block">
        <h3>World class watching experience</h3>
        <p>Most comfortable seating.</p>
      </div>
    </div>
    <div class="w-100 carousel-item second">
      <!--  <img class="d-block w-25 img-fluid" src="../../assets/images/cinema_hall.jpg" alt="Second slide">-->
      <div class="carousel-caption d-none d-md-block">
        <h3>Over 50 locations</h3>
        <p>Your favourite cinema is now in every city.</p>
      </div>
    </div>
    <div class="w-100 carousel-item third">
      <!--  <img class="d-block w-25 img-fluid" src="../../assets/images/popcorn.webp" alt="Third slide">-->
      <div class="carousel-caption d-none d-md-block">
        <h3>Popcorn and more</h3>
        <p>Enjoy your favourite snacks.</p>
      </div>
    </div>
  </div>
</div>
